.container {
  display: flex;
  flex-direction: column;
  margin: 10px auto 0;
  background: orange;
  width: 400px;
  height: 50%;
}
#root {
  position: absolute;
top: 0;
right: 0;
}

.tab-panel {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.form-content {
  padding: 0 30px;
}

.button {
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
}

.button-next {
  margin-left: auto;
  background-color: rgb(230, 107, 0);
  color: white;
}

.button-next:disabled {
  background-color: rgb(255, 238, 0);
  color: rgb(230, 30, 30);
}
