.user-info {
  margin: 10px;
}

#root {
  margin: 15px;
  font-family: sans-serif;
  background: rgba(250, 58, 0, 0.1);
  width: 600px;
  border-radius: 4px;
  box-shadow: 3px 3px gainsboro;

}
.get-data {
  padding: 10px;
}
.user-image {
  border-radius: 4px;
  box-shadow: 2px 2px;

}

.login-button {
  background: rgba(230, 206, 97, 0.1);
  margin-left: 3px;
  font-style: italic;
  cursor: pointer;
}

.user-info {
  font-size: 12px;
}
link:visited { text-decoration: none; }

.follower-image {
  border-radius: 4px;
  margin: 7px;
}

.followers {
  display: flex;
  flex-wrap: wrap;
justify-content: space-between;
}

.follower {
  display: flex;
  align-items: center;
  margin: 5px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: rgb(255, 102, 0);
}