.market {
  border-radius: 4px;
  background-color: rgb(255, 252, 82);
  padding: 10px 20px;
  margin: 0px 10px 10px 0px;
}

.new-orders__create-form {
  display: flex;
  flex-direction: column;
}


.order-list {
  padding: 20px 0;
}

.button {
  cursor: pointer;
}

.button:disabled {
  cursor: unset
}
