.shows {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  background: rgb(rgb(227, 44, 44), green, blue, 0.5);
}
.result-preview {
  min-width: 150px;
  max-width: 300px;
  padding: 5px;
  margin: 10px;
  background: rgba(240, 131, 14, 0.1);
}

.search__button {
  background: orange;
}
.search__button:hover {
  cursor: pointer;
}
.search__button:active {
}
