body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

.router {
  background: orange;
  padding: 10px;
}

.login__button {
  background: red;
  margin: 5px;
  cursor: pointer;
}
.login__form {
  margin: 5px;
  font-style: italic;
}
