.switcher {
  height: 100%;
}

.switcher__navigation {
  list-style: none;
  display: flex;
  flex-direction: row;

}

.navigation__components-lits {
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.component-wrapper {
  height: 100%;
}
