.switcher {
  background-color: rgba(11, 28, 124, 0.5);
  height: 100%;
  padding: 15px;
  width: 400px;
}

.switcher__navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navigation__components-lits {
  margin-right: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.chosen {
  cursor: pointer;
  color: blue
}
.component-list__name {
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
  font-style: italic;
  color: blueviolet;
}
.component-list__name:active {
  color: blue;
}

.component-wrapper {
  height: 100%;
}
